.navButton {
  border: none;
  display: inline;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  margin: 1em;
}

.navButton span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

.navButton span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.navButton:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.navButton:hover {
  color: white;
}

.navButton:active span::before {
  background: #2751cd;
}

.searchContainer{
  background : rgba(0, 0, 0, 0.6);;
  width: calc(100% -  120px);
  height: 150px;
  
 }

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image  :  url('/images/carousel-family.jpg') ;
  background-size:  100% 100%  ;
  height: 370px;
  width:  100% ; 
}

.filterContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
 }
.texts{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  padding-top: 7px;
margin-top: 5px;
text-align: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.firstText, .secondText, .thirdText{
  flex: 1;
  height:100%;
font-size: 20px;
}

.grids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  margin-top: 25px;
  text-align: center;

}

.firstGrid, .secondGrid, .thirdGrid, .fourthGrid, .fifthGrid, .sixthGrid{
  height: 250px;
  background-size:  100% 100% ;
  margin: 15px;
    padding: 15px;
    
}
.firstGrid{
  background: url('/images/for-sale.jpg');
  
}
.secondGrid{
  background: url('/images/buy-house.jpg');
}
.thirdGrid{
  background: url('/images/evaluate-house.jpg');
}
.fourthGrid{
  background: url('/images/become-a-broker.jpg');
}
.fifthGrid{
  background: url('/images/brokers-offices.jpg');
}
.sixthGrid{
  background: url('/images/selling-international.jpg');
}
.spantitle{
  font-size: 1rem;
  background: #003da5;
  border-radius: 5px;
  padding: 1.5rem;
}
.housesLink{
  text-decoration: none;
  color: white;
}
.joinRemaxPart{
  background: url('/images/bgsky.svg');
  height:  500px;
  width: 100%;
  background-size:  100% 100% ;
  display: flex;
  margin: 50px;
  padding: 30px;
}
.joinComment, .joinGif{
  flex: 1;
}
.spanTitleContiner{
  margin: 70px;
  color: white;
    
}
.spantitle{
  font-size: 30px;
}
.footer{
  background: white;
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.footerImage, .footerLinks{
  flex:1;
  

}
.socialButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  
  padding: 15px 10px;
  border-radius: 5em;
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.socialButton:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.socialButtons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

.bottomLinks{
  background: #51595f;
  padding-top: 3rem;
  padding-bottom: 3rem;
 
   
  width: 100%;
  text-align: center;
}
.LinkGroup{
  margin-top: 1.5rem;
}
.linkTitle{
  color: white;
}

 
 .filterButtons{
height: 100%;
 margin-top: 10px;
 }
 .workAreasButton{
  margin-top: 20px;
 }


.checkboxContent{
  padding: 1rem;
}